/* reset basics */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'General Sans', sans-serif;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(255, 248, 241);
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

main {
  display: block !important;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* main */
.navbar {
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 0;
  z-index: 999;
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu li a {
  text-transform: capitalize;
  font-size: 0.875rem;
  padding: 0 1.25rem;
  font-weight: 500;
}

.logo {
  width: 150px;
  max-width: 100%;
}

/* buttons */
.btn {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.625em 1.25em;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  border-radius: 30px;
  color: #302f26;
  position: relative;
  z-index: 1;
  margin: 1.25em;
  border: none;
}

/* main */
.hero__wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: calc(100vh - 146.84px);
}

.hero__content {
  flex: 1;
}

.image__background {
  position: relative;
  bottom: 20px;
  background-image: url(/images/hero_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  color: #fff;
}

.userprofile_container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
}

.form_container {
  border-radius: 20px;
  background-color: #fff;
  padding: 50px;
  flex: 1;
  max-width: 500px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.input_container {
  display: flex;
  flex-direction: column;

  gap: 5px;
  padding: 15px 0;
}

.input_label {
  color: #302f26;
}

.input_field {
  height: 40px;
  text-indent: 10px;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  border: 1px solid #21262e;
  transition: all 0.3s;
  caret-color: #256f5d;
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #256f5d;
  background-color: transparent;
}
